.btn {
  background-color: #4C1E3C;
  color: #C6BBB9;
  box-shadow: 2px 3px 8px 1px #21242b81;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-timing-function: cubic-bezier(.86, .01, .15, .99);
  transition-duration: 0.3s;
}

.btn-connect {
  border: 1px solid #C6BBB9;
  border-radius: 15px;
  font-weight: 500;
  font-size: 30px;
  padding: 1px 30px;
}

.btn-view {
  border: 1px solid #7A748C;
  border-radius: 15px;
  padding: 2px 25px;
}

.btn-adjusted {
  border: 1px solid #C6BBB9;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  padding: 1px 30px;
}

.btn:hover {
  background-color: #C6BBB9;
  border: 1px solid #4C1E3C;
  color: #21242b;
}
