.contact-container {
  padding: 2rem 1rem;
}

.contact-form {
  background-color: #21242B;
  padding: 2rem;
  border-radius: 15px;
  border: 1px solid #C6BBB9;
  box-shadow: 2px 3px 8px 1px #21242b81;
}

.contact-form .form-control {
  margin-bottom: 1rem;
  background-color: #C6BBB9;
  border: none;
  color: #21242B;
  text-align: center;
}

.submit {
  margin-left: 22%
}

@media (min-width: 540px) {
  .submit {
    margin-left: 30%
  }
}

@media (min-width: 768px) {
  .submit {
    margin-left: 20%;
  }
}

@media (min-width: 1000px) {
  .contact-container {
    margin: 0;
  }

  .contact-form {
    margin: 0;
  }

  .submit {
    margin-left: 25%;
  }
}

.icons-container {
  margin-top: 2rem;
}

.list-group-item {
  border: none;
  background-color: transparent;
}

.list-group-item img {
  width: 40px;
  height: 40px;
}

@media (min-width: 1000px) {
  .connect-container {
    margin-top: 3rem;
  }
  .content-col {
    margin-right: 1rem;
  }
}