@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    color: #21242B;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 35px;
}

@media screen and (max-width: 1050px) {
    body {
        background-image: url('./assets/backgrounds/backgroundMobile.png');
        background-position: top center;
        margin-left: 25px;
        margin-right: 25px;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-image: url('./assets/backgrounds/backgroundMobile.png');
        background-size: contain;
        background-position: top center;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 0;
    }
}

.app-container {
    display: flex;
    min-height: 100vh;
}
  
.main-content {
    flex-grow: 1;
    padding: 20px;
}
